@font-face {
    font-family: 'Harriet Text Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Harriet Text Regular'), url('HARRIETTEXTREGULAR.woff') format('woff');
    }


/*========================= NAVIGATION ============================*/


.bodyme{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}
.headerme{
    background-color: rgb(0, 128, 0, 0.3);
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
    border-bottom: 2px solid white;
}
.navme{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
   
    
}
.navme a {
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    
}
.navme a:hover{
    color: rgb(26, 202, 35);
}



.mainme{
    /* background-color: rgb(158, 250, 135); */
    /* height: 90vh; provisoire */
}
.footerme{
    background-color: rgb(211, 13, 43, 0.7);
    border-top: 2px solid white;
}
.footerme p{
    margin: 0;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* ========================SPECIFIQUE PAGE ACCUEIL===================== */
/* ICI BLOCK1------------------- */
.accueil-block1{
    display: flex;
    background-image: url("images/wallpaper1.jpg");
    background-size: cover;
    height: 80vh;
    margin: 0%;
    display: flex;
    flex-direction: column;
    font-family: 'Harriet Text Regular', Arial, Helvetica, sans-serif;
}
.accueil-block1 h2{
    /* background-color: blueviolet; */
    text-align: center;
    /* margin: auto; */
    align-self: center;
    margin-top: 16%;
    width: 16%;
    color: white;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
}
.accueil-block1 h1 {
   text-align: center;
   /* margin-top: 40%; */
   /* background-color: blue; */
   margin: 0px;
   /* margin-top: 1%; */
   font-size: 80px;
   width: 60%;
   align-self: center;
   color: rgb(33, 179, 53);
   background-color: rgb(0, 0, 0, 0.7);
   border-radius: 20px;
}

.titrehover{
    background-color: cornsilk;
    text-align: center;
    width: 10%;
    margin-top: 30px;
    /* padding-top: 10px; */
    /* padding-bottom: 3px; */
    align-self: center;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
    color: white;
}
.titrehover h3{
    margin-top: 0px;
    margin-bottom:0px ;
}
.titrehover{
    text-decoration: none;
}
.titrehover:hover{
    background-color: white;
    color: black;
=======
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
header{
  background-color: green;
  width: 100%;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav a {
  font-size: 20px;
  margin-left: 5px;
  text-decoration: none;
  color: white;
}
nav a:hover{
  color: black;
}

footer{
  background-color: rgb(211, 13, 43);
}
/* ICI BLOCK2------------------- */

.accueil-block2{
    width: 50%;
    /* background-color: darkred; */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Harriet Text Regular', Arial, Helvetica, sans-serif;
}
.accueil-block2 h1 {
    text-align: center;
    font-size: 30px;
}
.accueil-block2 p{
    text-align: center;
    
    align-self: center;
    justify-content: center;
}

/* ICI BLOCK3------------------- */

.accueil-block3{
    display: flex;
    /* background-color: darkviolet; */
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Harriet Text Regular', Arial, Helvetica, sans-serif;
}
.text-block3{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    text-align: justify;
}
.text-block3 h3{
    font-size: 25px;
}
.image-accueil-1 {
    clip-path: circle(47.6% at 50% 50%);
    width: 100%;
    height: 100%;
}


/* ICI BLOCK4------------------- */

.accueil-block4{
    display: flex;
    /* background-color: deepskyblue; */
    margin-bottom: 100px;
    height: 300px;
    font-family: 'Harriet Text Regular', Arial, Helvetica, sans-serif;
}
.accueil-block4 p{
    align-self: center;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}
.text-block4 h3 {
    font-size: 25px;
    text-align: right;
    padding-right: 50px;
}
.image-accueil-2{
    /* clip-path: circle(48.9% at 50% 51%); */
    padding-right: 50px;
}

/* ICI BLOCK5------------------- */

.accueil-block5{
    display: flex;
    /* background-color: dodgerblue; */
    margin-bottom: 100px;
    font-family: 'Harriet Text Regular', Arial, Helvetica, sans-serif;
}
.accueil-block5 p{
    align-self: center;
    padding-right: 50px;
    text-align: justify;
}
.image-accueil-3{
    clip-path: circle(48.9% at 50% 51%);
}

/* ========================SPECIFIQUE PAGE ARBUSTE===================== */
.titre-arbuste{
    /* background-color: blue; */
    width: 20%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-size: 40px;
}
/* ICI BLOCK1------------------- */
.arbustes-block1{
    display: flex;
    /* background-color: floralwhite; */
    margin-top: 50px;
    margin-bottom: 50px;
}
.image-arbuste-1 {
    width: 45%;
    padding-left: 20px;
    padding-right: 20px;
    clip-path: circle(46.1% at 50% 50%);
}
.arbustes-block1 p {
    padding-right: 50px;
    text-align: center;
    align-self: center;
}

/* ICI BLOCK2------------------- */
.arbustes-block2{
    display: flex;
    /* background-color: rgb(55, 23, 92); */
    margin-bottom: 50px;
}
.image-arbuste-2{
    width: 45%;
    padding-left: 20px;
    padding-right: 20px;
    clip-path: circle(46.1% at 50% 50%);
}
.arbustes-block2 p {
    padding-left: 50px;
    text-align: center;
    align-self: center;
}

/* ICI BLOCK3------------------- */
.arbustes-block3{
    display: flex;
    /* background-color: rgb(167, 124, 39); */
    margin-bottom: 50px;
}
.image-arbuste-3{
    width: 45%;
    padding-right: 20px;
    padding-left: 20px;
    clip-path: circle(46.1% at 50% 50%);
}
.arbustes-block3 p {
    padding-right: 50px;
    text-align: center;
    align-self: center;
}
/* ========================SPECIFIQUE PAGE LEGUMES===================== */
.titre-legumes{
    width: 20%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-size: 40px;
}
/* ICI BLOCK1------------------- */
.legumes-block1{
    display: flex;
    /* background-color: floralwhite; */
    margin-top: 50px;
    margin-bottom: 50px;
}
.image-legumes-1 {
    width: 45%;
    padding-left: 20px;
    padding-right: 20px;
    clip-path: circle(46.1% at 50% 50%);
}
.legumes-block1 p {
    padding-right: 50px;
    text-align: center;
    align-self: center;
}

/* ICI BLOCK2------------------- */
.legumes-block2{
    display: flex;
    /* background-color: rgb(55, 23, 92); */
    margin-bottom: 50px;
}
.image-legumes-2{
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
    clip-path: circle(46.1% at 50% 50%);
}
.legumes-block2 p {
    padding-left: 50px;
    text-align: center;
    align-self: center;
}

/* ICI BLOCK3------------------- */
.legumes-block3{
    display: flex;
    /* background-color: rgb(167, 124, 39); */
    margin-bottom: 50px;
}
.image-legumes-3{
    width: 45%;
    padding-right: 20px;
    padding-left: 20px;
    clip-path: circle(46.1% at 50% 50%);
}
.legumes-block3 p {
    padding-right: 50px;
    text-align: center;
    align-self: center;
}
/* =============PAGE PRESENTATION============= */
.Presentation_Main{
  background: url(./Images/background/plant_pouss.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100%;
}
.Titre_Presentation{
  /* background-color: rgba(56, 62, 86, 0.9); */
  color: white;
  font-size: 100px;
  padding: 50px;
}
.Presentation_Personel{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
.Personel_Block{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;

  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 25px;
  text-align: center;
}
.Personel_Block p{
  margin: 0px;
  background-color: rgba(56, 62, 86, 0.9);
  padding: 10px;
}
.Keanu{
  background: url(Images/Portrait/Keanu.png);
  background-size: cover;
  background-position: top;
  clip-path: circle(50% at 50% 50%);
  background-color: white;
  height: 200px;
  width: 200px;
  margin-top: 10px;
}
.Gandhi{
  background: url(Images/Portrait/Gandhi.png);
  background-size: cover;
  background-position: top;
  clip-path: circle(50% at 50% 50%);
  background-color: white;
  height: 200px;
  width: 200px;
  margin-top: 10px;
}
.Ip_man{
  background: url(Images/Portrait/Ip_man.png);
  background-size: cover;
  background-position: top;
  clip-path: circle(50% at 50% 50%);
  background-color: white;
  height: 200px;
  width: 200px;
  margin-top: 10px;
}
.Presentation_Commerce{
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
.Presentation_Commerce article{
  background-color: rgba(56, 62, 86, 0.9);
  padding: 20px;
  margin: 50px;
  width: 100%;
  text-align: center;
}



















/* ===========================PAGE FLEURS================================ */

.Fleurs_Main{
  width: 100%;
  height: 100%;
}

.grid-fleurs{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  /* gap: 1px 1px; */
}
.Fleurs_1{
  background: url(Images/Fleurs/rosa.jpg);
  background-size: cover;
  background-position: right;
  grid-row: 1/4;
}
.Fleurs_2{
  grid-row: 1/4;
  grid-column: 2/5;
  background: url(Images/Fleurs/cerisier.jpg);
  background-size: cover;
  background-position: bottom;
}
.Fleurs_3{
  grid-row: 1/4;
  background: url(Images/Fleurs/coquelicot.jpg);
  background-size: cover;
  background-position: bottom right;
}

.Fleurs_5{
  grid-row: 4/6;
  grid-column: 4/6;
  background: url(Images/Fleurs/rose_du_desert.jpg);
  background-size: cover;
  background-position: center;
}
.Fleurs_6{
  grid-row: 4/6;
  grid-column: 3/4;
  background: url(Images/Fleurs/soleil.jpg);
  background-size: cover;
  background-position: top;
}
.Fleurs_7{
  grid-column: 1/3;
  grid-row: 4/6;
  background: url(Images/Fleurs/jonc.jpg);
  background-size: cover;
  background-position: center;
}












/* ============================PAGE PLANTE================================== */
.Plantes_main{
  background: url(./Images/background/plant_pouss.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.Plantes_main_titre{

}

.Plantes_Box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.Plantes_Box_1{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 3000px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
  background-color: rgba(56, 62, 86, 0.5);
}
.Plantes_Box_2{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 3000px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: rgba(56, 62, 86, 0.5);
}
.Plantes_1{
  background: url(Images/Plantes/petit_cochon.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 850px;
}
.Plantes_2{
  background: url(Images/Plantes/ravenale.jpg) no-repeat;
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 1000px;
  margin-top: 10px;
}
.Plantes_3{
  background: url(Images/Plantes/cyathea.jpg) no-repeat;
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 500px;
  margin-top: 10px;
}
.Plantes_4{
    background: url(Images/Plantes/cactus.jpg) no-repeat;
    background-size: cover;
    background-position: top right;
    width: 100%;
    height: 600px;
    margin-top: 10px;
}
.Plantes_2_1{
    background: url(Images/Plantes/rangement.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 950px;
}
.Plantes_2_2{
    background: url(Images/Plantes/cériman.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    margin-top: 10px;
}
.Plantes_2_3{
    background: url(Images/Plantes/gommier_bleu.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 600px;
    margin-top: 10px;
}
.Plantes_2_4{
    background: url(Images/Plantes/ficus.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 1000px;
    margin-top: 10px;
}

